%h2{:class => "promo nine columns offset-by-one"} Contact us
#text_wrapper{:class => "eight columns push-three"}
	%h3 We'd love to hear from you
	%p If you have any questions, please feel free to contact us by filling out the form below.
	%p All fields are required.
	= render '_contact.html.haml'