%h2{:class => "promo nine columns offset-by-one"} About us
#text_wrapper{:class => "eight columns push-three"}
	%h3 The world has many problems. Here are our simple solutions.
	%h4< 
		%a(href="http://www.essentiallysmooth.com/") Essentially Smooth
	%p
		%a(href="http://www.essentiallysmooth.com/") Essentially Smooth
		is a skin care company, offering top quality sugar scrubs (skin exfoliants) for use in the shower or bath. Essentially Smooth's products are all-natural and are raved about by their customers as being essential to their skin care routine.
	%h4< 
		%a(href="http://www.26twelvestudio.com/") 26Twelve Studio
	%p
		%a(href="http://www.26twelvestudio.com/") 26Twelve Studio
		performs web design, SEO and internet marketing services for clients. 26Twelve specializes in CSS designing and has extensive experience with blogging platforms such as Wordpress.
	%h4<
		%a(href="http://www.entre-propel.com/") Entre-Propel.com
	%p
		%a(href="http://www.entre-propel.com/") Entre-Propel.com
		is an entrepreneurial blog dedicated to delivering words of motivation to its readers. Entrepreneurship can be emotionally strenuous, energy consuming and monetarily unrewarding in the early stages of a business's life. Entre-Propel.com strives to combat this by helping entrepreneurs identify the perks and rewards of entrepreneurship, regardless of a business's size.
	%h4 MTM Consulting
	%p MTM Consulting consults new and small businesses on ways to streamline operations and reduce operating expenses. MTM Consulting has worked with businesses in industries ranging from Film Production, Accounting and Retail.
	%p For more information on our businesses listed above, or our other ventures, please <a href="/contact/">contact us</a>.